:root {
  --primary-color: #202C38;
}

body{
    margin: 0 auto;
    max-width: 1200px;
}

body, p, li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}



.header-container{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 0.5rem;
}


picture img {
  width: 100%;
  height: auto;
  display: block;
}
.data {
  background: #fff;
  padding: 2rem;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.data h2 {
  margin-bottom: 1rem;
}

.data-grid {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.5rem 1rem;
  justify-content: center;
}

.label {
  text-align: right;
  font-weight: bold;
}

.value {
  text-align: left;
}


.weather-icon {
  width: 80px;
  margin-bottom: 1rem;
}


.footer-container{
    background-color: var(--primary-color);
        padding: 1rem 0;

}

.footer-container p {
    color: white;
    text-align: center;
    
}
